body{
    background-color: aqua;
    font-weight: 300;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    text-decoration: double;
    letter-spacing: 0cqh;
    line-height: 0cqi;
    
}